@mixin underline-effect($color) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -2px;
      width: 0;
      height: 1.5px;
      background-color: $color;
      transform: translateX(-50%);
      transition: width 0.25s ease-in;
    }
    &:hover::after {
      width: 100%;
    }
  }
  
  @mixin underline-effect-left($color) {
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2.2px;
      width: 100%;
      height: 1.5px;
      background-color: $color;
      transition: transform 0.25s ease-in;
      transform: scaleX(0);
      transform-origin: bottom left;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }