$font-family: 'Montserrat', sans-serif;
$background-color: #f8f4f0;
$header-bg: rgb(238, 228, 228);
$footer-bg: #2a2929;
$primary-color: rgb(178, 105, 53);
$primary-hover: rgb(150, 85, 40);
$secondary-color: #2a2929;
$text-color: #fff;
$link-color: rgb(70, 69, 69);
$link-hover: #007bff;
$container-width: 1470px;
$shadow: 0 4px 10px rgba(0, 0, 0, 0.2);